<ng-container *ngIf="myTracks"
  ><app-view-header [data]="myTracks"></app-view-header
></ng-container>
<div *ngIf="myTracks" class="tracks">
  <app-track-list-header
    *ngIf="myTracks.tracks"
  ></app-track-list-header>
  <ng-container *ngFor="let track of myTracks?.tracks; let i = index">
    <app-track-list
      [track]="track"
      [trackIndex]="track.index"
      [files]="playlistFile"
      [playingTrack]="playingTrack"
      [state]="state"
    ></app-track-list>
  </ng-container>
</div>
