<ng-container *ngIf="isLoading; else playlistContent">
  <app-skeleton [count]="1" [height]="viewHeaderHeight"></app-skeleton>
  <app-skeleton [count]="visibleTracks" [height]="trackListHeight"></app-skeleton>
</ng-container>
<ng-template #playlistContent>
  <app-view-header [playlist]="playlist"></app-view-header>
  <div *ngIf="playlist.tracks.length > 0" class="tracks">
    <app-track-list-header></app-track-list-header>
    <ng-container *ngFor="let track of playlist.tracks; let i = index">
      <app-track-list [track]="track" [trackIndex]="track.index" [playlist]="playlist"
        [playingTrack]="playingTrack" [state]="state"
        [showDeleteBtn]="false"></app-track-list>
    </ng-container>
  </div>
</ng-template>