<div id="content">
  <div id="login-container">
    <div class="login">
      <h1>Login</h1>
      <button id="login-button" class="big-btn" (click)="login()">
        Log in with Spotify
      </button>
      <p>Since the app is currently in development mode, you must use the following test credentials:</p>
      <p><strong>Email:</strong> test.spotifyify&#64;gmail.com</p>
      <p><strong>Password:</strong> test-spotifyify</p>
      <p>You will automatically be redirected to this page after login.</p>
    </div>
  </div>
</div>
