<app-header resizeObserver (resize)="onResize($event)" [user]="user"
  ><app-search-bar
    class="search-bar"
  ></app-search-bar
></app-header>
<div class="container">
  <div class="section-playlists">
    <ng-container *ngFor="let playlist of playlists">
      <app-card [playlist]="playlist"></app-card
    ></ng-container>
  </div>
  <div class="section-tracks">
    <app-track-list-header *ngIf="tracks.length > 0"></app-track-list-header>
    <ng-container *ngFor="let track of tracks; let i = index">
      <app-track-list
        [track]="track"
        [trackIndex]="i"
        [playlist]="searchResultPlaylist"
        [playingTrack]="playingTrack"
        [state]="state"
      ></app-track-list>
    </ng-container>
  </div>
</div>
