.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 75px;
  .section-tracks {
    padding-right: 12px;
    display: flex;
    flex-direction: column;
  }
  .section-playlists {
    display: flex;
    gap: 10px;
    overflow: auto;
  }
}
app-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
