<div class="playing-info-header">
  <span class="title">{{ getDisplayName() }}</span>
  <div class="n-h-right">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="hover-effect-on-icons"
    >
      <span class="material-symbols-outlined"> more_horiz </span>
    </button>
    <mat-menu #menu="matMenu">
      <app-custom-button
        [icon]="'add'"
        [text]="'Add to playlist'"
        [customClass]="'secondary'"
        style="display: block; width: 224px"
        [sidenavExpanded]="true"
        (clickEvent)="openAddDialog()"
      ></app-custom-button>
      <!-- TODO: Display the remove button if the currently playing track is from one of the user's playlists -->
      <app-custom-button
        [icon]="'delete'"
        [text]="'Remove from this playlist'"
        [customClass]="'secondary'"
        style="display: block; width: 224px"
        [sidenavExpanded]="true"
        (clickEvent)="openRemoveDialog()"
      ></app-custom-button>
      <app-custom-button
        [icon]="'add_circle'"
        [text]="'Save to your Liked Songs'"
        [customClass]="'secondary'"
        style="display: block; width: 224px"
        [sidenavExpanded]="true"
        (clickEvent)="saveToLikedSongs()"
      ></app-custom-button>
    </mat-menu>
    <button
      mat-menu-item
      class="hover-effect-on-icons"
      (click)="closePlayingInfo()"
    >
      <span class="material-symbols-outlined"> close </span>
    </button>
  </div>
</div>
