<mat-card class="card c-pointer" (click)="navigateToPlaylist(data.id)">
  <button class="btn-non-style overlayer">
    <span class="material-symbols-outlined play-circle c-pointer">
      play_circle
    </span>
  </button>
  <img mat-card-image src="{{ data.images[0].url }}" />
  <mat-card-content>
    <span class="mt-10 card-name" style="font-weight: bold; color: white">{{
      data.name
    }}</span>
    <span class="mt-10 card-description" style="color: #aaaaaa">{{
      truncateText(data.description, 45)
    }}</span>
  </mat-card-content>
</mat-card>
