<mat-card class="card c-pointer" (click)="navigateToPlaylist(playlist.id)">
  <app-btn-play class="overlayer" [playlist]="playlist"></app-btn-play>
  <img mat-card-image src="{{ imgUrl }}" />
  <mat-card-content>
    <span
      class="mt-10 card-name"
      style="font-weight: bold; color: var(--white-color)"
      >{{ playlist.name }}</span
    >
    <span
      class="mt-10 card-description"
      style="color: var(--light-grey-color)"
      >{{ utilsService.truncateText(playlist.description, 45) }}</span
    >
  </mat-card-content>
</mat-card>
