<div class="nav-header">
  <app-custom-button
    [icon]="'library_music'"
    [text]="'Your Library'"
    [customClass]="'primary'"
    [sidenavExpanded]="sidenavExpanded"
    (clickEvent)="toggleDrawer()"
  ></app-custom-button>
  <div class="n-h-right">
    <button
      mat-icon-button
      *ngIf="sidenavExpanded"
      [matMenuTriggerFor]="menu"
      class="hover-effect-on-icons"
    >
      <span class="material-symbols-outlined"> add </span>
    </button>
    <mat-menu #menu="matMenu">
      <app-custom-button
        [icon]="'playlist_add'"
        [text]="'Create a new playlist'"
        [customClass]="'secondary'"
        style="display: block; width: 202px"
        [sidenavExpanded]="true"
        (clickEvent)="createNewPlaylist()"
      ></app-custom-button>
      <app-custom-button
        [icon]="'folder'"
        [text]="'Create a playlist folder'"
        [customClass]="'secondary'"
        style="display: block; width: 202px"
        [sidenavExpanded]="true"
      ></app-custom-button>
    </mat-menu>
    <button
      mat-menu-item
      *ngIf="sidenavExpanded"
      class="hover-effect-on-icons"
      (click)="toggleSidenavWidth()"
    >
      <span class="material-symbols-outlined">
        {{ sidenavWidth === 631 ? "arrow_back" : "arrow_forward" }}
      </span>
    </button>
  </div>
</div>
