<section class="header">
  <ng-content set=".search-bar"></ng-content>
  
  <div class="user">
    <!-- <div #userNotifications class="user-notifications">
      <button mat-icon-button class="hover-effect-on-icons">
        <span class="material-symbols-outlined"> notifications </span>
      </button>
    </div> -->

    <!-- <div #userInbox class="user-inbox">
      <button mat-icon-button class="hover-effect-on-icons">
        <span class="material-symbols-outlined"> archive </span>
      </button>
    </div> -->

    <div #userInfo *ngIf="user" class="user-info">
      <ng-container *ngIf="user.images[0]; else defaultImg">
        <span class="user-info-img">
          <img src="{{ user.images[0].url }}" alt="Profile Picture" /> </span
      ></ng-container>
      <ng-template #defaultImg>
        <span class="material-symbols-outlined play-circle c-pointer">
          account_circle
        </span></ng-template
      >
      <span #userName class="user-info-name">{{ user.display_name }}</span>
    </div>

    <div class="user-actions">
      <app-user-menu></app-user-menu>
    </div>
  </div>
</section>
