.header {
  background: var(--dark-grey-color);
  padding: 10px;
  color: var(--light-grey-color);
  border-bottom: 1px solid var(--black-color);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  .user {
    width: 300px;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    .user-info {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        object-fit: cover;
      }
    }
  }
}
.btn-home {
  display: flex !important;
  padding-left: 24px !important;
}
