<section class="header">
  <div class="page-flows">
    <span class="flow">
      <button mat-icon-button class="hover-effect-on-icons">
        <span class="material-symbols-outlined"> chevron_left </span>
      </button>
    </span>
    <span class="flow">
      <button mat-icon-button class="disabled">
        <span class="material-symbols-outlined"> chevron_right </span>
      </button>
    </span>
  </div>

  <div class="search">
    <input type="text" [(ngModel)]="searchText" placeholder="Search" />
  </div>

  <div class="user">
    <div class="user-notifications">
      <button mat-icon-button class="hover-effect-on-icons">
        <span class="material-symbols-outlined"> notifications </span>
      </button>
    </div>

    <div class="user-inbox">
      <button mat-icon-button class="hover-effect-on-icons">
        <span class="material-symbols-outlined"> archive </span>
      </button>
    </div>

    <div *ngIf="user" class="user-info">
      <span class="user-info-img">
        <img src="{{ user.images[0].url }}" alt="Profile Picture" />
      </span>

      <span class="user-info-name">{{ user.display_name }}</span>
    </div>

    <div class="user__actions">
      <button mat-icon-button class="hover-effect-on-icons">
        <span class="material-symbols-outlined"> arrow_drop_down </span>
      </button>
    </div>
  </div>
</section>
