<div
  *ngIf="artist as Artist"
  class="header"
  [ngStyle]="{
    'background-image':
      'linear-gradient(to bottom, ' +
      '#565656' +
      ', var(--black-color))'
  }">
  <div class="info">
    <div class="profile-img">
      <ng-container *ngIf="artist.imageUrl; else noImage">
        <img src="{{ artist.imageUrl }}" />
      </ng-container>
      <ng-template #noImage>
        <div class="div-no-img">
          <span class="material-symbols-outlined"> audio_file </span>
        </div>
      </ng-template>
    </div>

    <div class="info-meta">
        <div class="info-name">{{ artist.name }}</div>
      <div class="info-details">{{ artist.genres }}</div>
      <div class="info-details">{{ artist.followers }} Followers</div>
    </div>
  </div>
</div>
