<div class="sidebar-navigation h-100">
  <div class="sidenav-header round-8">
    <app-custom-button
      [icon]="'home'"
      [text]="'Home'"
      [customClass]="'primary'"
      [sidenavExpanded]="sidenavExpanded"
      (clickEvent)="goHome()"
    ></app-custom-button>
    <app-custom-button
      [icon]="'search'"
      [text]="'Search'"
      [customClass]="'primary'"
      [sidenavExpanded]="sidenavExpanded"
      (clickEvent)="goToSearch()"
    ></app-custom-button>
  </div>
  <nav
    #navigation
    class="navigation round-8"
    [ngStyle]="sidenavExpanded ? navExpandedStyles : navCollapsedStyles"
  >
    <app-nav-header
      [drawerSidenav]="drawerSidenav"
      [sidenavExpanded]="sidenavExpanded"
      [myPlaylists]="myPlaylists"
      [sidenavWidth]="sidenavWidth"
    ></app-nav-header>
    <div style="position: relative; height: calc(100% - 33px)">
      <ul
        class="library-list"
        scrollable
        appDropTarget
        [dropContainerClass]="'library-list'"
        [dropItemClass]="'btn-list-folder'"
        (onDrop)="removePlaylistFromFolders($event)"
        style="height: 100%"
        [ngStyle]="sidenavExpanded ? listExpandedStyles : listCollapsedStyles"
      >
        <li>
          <app-list-liked-songs
            [myTracksTotal]="likedCount"
            [sidenavExpanded]="sidenavExpanded"
            [sidenavWidth]="sidenavWidth"
          ></app-list-liked-songs>
        </li>
        <li
          *ngFor="let folder of folders"
          class="li-folder"
          [ngStyle]="
            sidenavExpanded ? liFolderExpandedStyles : liFolderCollapsedStyles
          "
        >
          <app-list-folder
            class="folder"
            [folder]="folder"
            [playlists]="folder.playlists"
            [user]="userService.user()!"
            [sidenavExpanded]="sidenavExpanded"
            [movedToFolderStatus]="movedToFolderStatus"
          ></app-list-folder>
        </li>
        <li *ngFor="let playlist of folderUnassignedPlaylists">
          <app-list-item
            appDraggable
            [playlist]="playlist"
            [sidenavExpanded]="sidenavExpanded"
            [sidenavWidth]="sidenavWidth"
            [appDraggable]="toJson(playlist)"
          ></app-list-item>
        </li>
      </ul>
    </div>
  </nav>
</div>
