.sidebar-navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidenav-header {
  height: 112px;
  padding: 8px 12px;
  background-color: var(--dark-grey-color);
  display: flex;
  flex-direction: column;
}

.navigation {
  padding-top: 15px;
  padding-bottom: 15px;
  background: var(--dark-grey-color);
  color: var(--light-grey-color);
  height: calc(100% - 166px);
  .library-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
  }
}
