<div class="sidebar-navigation h-100">
  <div class="sidenav-header round-8">
    <app-custom-button
      [icon]="'home'"
      [text]="'Home'"
      [customClass]="'primary'"
      [sidenavExpanded]="sidenavExpanded"
      (clickEvent)="navigateTo('home')"
    ></app-custom-button>
    <app-custom-button
      [icon]="'search'"
      [text]="'Search'"
      [customClass]="'primary'"
      [sidenavExpanded]="sidenavExpanded"
      (clickEvent)="navigateTo('search')"
    ></app-custom-button>
  </div>
  <nav #navigation class="navigation scroll-y round-8">
    <app-nav-header
      [drawerSidenav]="drawerSidenav"
      [sidenavExpanded]="sidenavExpanded"
      [userId]="userId"
      [myPlaylists]="myPlaylists"
    ></app-nav-header>
    <ul>
      <li *ngFor="let playlist of myPlaylists.items">
        <app-list-item [playlist]="playlist"></app-list-item>
      </li>
    </ul>
    <mat-expansion-panel *ngFor="let category of navigationData" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ category.title }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item
          *ngFor="let item of category.items"
          class="navigation-list-item"
        >
          <span (click)="navigateTo(item.route)">{{ item.label }}</span>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </nav>
</div>
