<div class="track-list-header">
  <div class="track-list-header-number">#</div>
  <div class="track-list-header-title">Song</div>
  <div class="track-list-header-recommend">
    <button class="btn-non-style">
      <span class="material-symbols-outlined c-pointer hover-effect-on-icons">
        recommend
      </span>
    </button>
  </div>
  <div class="track-list-header-pace">
    <button class="btn-non-style">
      <span class="material-symbols-outlined c-pointer hover-effect-on-icons">
        pace
      </span>
    </button>
  </div>
</div>
