.search {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--dark-middle-grey-color);
  border-radius: 32px;
  padding: 0px 56px 0px 8px;

  &.opened {
    border-radius: 32px 32px 0px 0px;
    box-shadow:
      0 0 0 1px rgba(255, 255, 255, 0.04),
      0 8px 32px rgba(0, 0, 0, 0.6);
  }

  &:hover {
    background-color: #2a2a2a;
    -webkit-box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.2);
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.2);
    outline: none;
  }

  input {
    background: inherit;
    font-size: 1.1rem;
    outline: none;
    border: none;
    color: var(--white-color) !important;
    min-width: 352px;

    &::placeholder {
      font-weight: 700;
    }

  }
}

.search-button {
  &:hover {
    color: var(--green-color);
  }
}

.close-button {
  position: absolute;
  top: 0;
  right: 15px;

  &:hover {
    background-color: rgba(255, 0, 0, 0.1);
  }
}