<ng-container *ngIf="!isLoading">
  <app-view-header class="info-actions" [playlist]="playlist">
    <app-btn-play
      small-play-btn
      class="small-play-btn mr-10"
      [playlist]="playlist"
    ></app-btn-play>
    <div class="info-actons" info-actions>
      <app-btn-play class="mr-10" [playlist]="playlist"></app-btn-play>
      <app-btn-follow [isFollowing]="isFollowing" [playlistId]="playlist.id"></app-btn-follow>
      <button
        *ngIf="isUserCreated"
        mat-icon-button
        class="hover-effect-on-icons btn-non-style"
        [matMenuTriggerFor]="menu"
      >
        <span class="material-symbols-outlined"> more_vert </span>
      </button>
      <mat-menu #menu="matMenu" class="custom-menu-style">
        <app-custom-button
        [icon]="'playlist_remove'"
        [text]="'Delete'"
        [customClass]="'secondary'"
        [sidenavExpanded]="true"
        (clickEvent)="openDeleteDialog()">
        </app-custom-button>
        <app-custom-button
          [icon]="'queue_music'"
          [text]="'Change'"
          [customClass]="'secondary'"
          [sidenavExpanded]="true"
          (clickEvent)="openChangeDialog()">
        </app-custom-button>
      </mat-menu>
    </div>
  </app-view-header>
  <div class="tracks">
    <app-track-list-header></app-track-list-header>
    <ng-container *ngFor="let track of displayedTracks; let i = index">
      <app-track-list
        [track]="track"
        [trackIndex]="i"
        [playlist]="playlist"
        [playingTrack]="playingTrack"
        [state]="state"
        [showDeleteBtn]="isUserCreated"
      ></app-track-list>
    </ng-container>
  </div>
</ng-container>