<ng-container *ngIf="playlistFile"
  ><app-view-header class="info-actions" [data]="playlistFile">
    <app-btn-play
      small-play-btn
      class="small-play-btn mr-10"
      [playlistId]="playlistFile.id"
    ></app-btn-play>
    <div info-actions>
      <app-btn-play class="mr-10" [playlistId]="playlistFile.id"></app-btn-play>
      <button class="button-light c-pointer">Follow</button>
      <button
        [style.display]="!playlistFile.isUserCreated ? 'none' : ''"
        mat-icon-button
        class="hover-effect-on-icons btn-non-style"
      >
        <span class="material-symbols-outlined"> more_vert </span>
      </button>
    </div>
  </app-view-header></ng-container
>
<div class="tracks">
  <app-track-list-header></app-track-list-header>
  <ng-container *ngFor="let track of playlistFile?.tracks; let i = index">
    <app-track-list
      [track]="track"
      [trackIndex]="track.index"
      [files]="playlistFile"
      [playingTrack]="playingTrack"
      [state]="state"
      [showDeleteBtn]="playlistFile.isUserCreated"
    ></app-track-list>
  </ng-container>
</div>
