<ng-container *ngIf="playlistFile"
  ><app-view-header [data]="playlistFile"></app-view-header
></ng-container>
<div class="tracks">
  <div class="tracks-heading">
    <div class="tracks-heading-number">#</div>
    <div class="tracks-heading-title">Song</div>
    <div class="tracks-heading-length">
      <button class="btn-non-style">
        <span class="material-symbols-outlined c-pointer hover-effect-on-icons">
          pace
        </span>
      </button>
    </div>
    <div class="tracks-heading-popularity">
      <button class="btn-non-style">
        <span class="material-symbols-outlined c-pointer hover-effect-on-icons">
          recommend
        </span>
      </button>
    </div>
  </div>
  <ng-container *ngFor="let track of playlistFile?.tracks; let i = index">
    <app-track-list
      [track]="track"
      [trackIndex]="track.index"
      [files]="playlistFile"
      [playingTrack]="playingTrack"
      [state]="state"
    ></app-track-list>
  </ng-container>
</div>
