<div
  resizeObserver
  (contextmenu)="onContextMenu($event)"
  (resize)="onResize($event)"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  *ngIf="track"
  class="track"
>
  <app-track-number
    [state]="state"
    [trackIndex]="trackIndex"
    [files]="files"
    [track]="track"
    [playingTrack]="playingTrack"
    [isHovered]="isHovered"
  ></app-track-number>
  <img [src]="track.img" />
  <div class="track-title featured">
    <span class="title">{{ track.name }}</span>
    <ng-container *ngFor="let artist of track.artists">
      <span class="feature">{{ artist.name }}</span>
    </ng-container>
  </div>
  <app-like-button
    [trackId]="track.id"
    [likedStatus]="track.likedStatus"
  ></app-like-button>
  <div class="track-length">{{ track.durationMs | date : "mm:ss" }}</div>
</div>
<div
  style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu"
></div>
<mat-menu #contextMenu="matMenu" class="custom-menu-style">
  <ng-template matMenuContent let-item="item">
    <app-custom-button
      *ngIf="showDeleteBtn"
      [icon]="'playlist_remove'"
      [text]="'Delete'"
      [customClass]="'secondary'"
      [sidenavExpanded]="true"
      (clickEvent)="openRemoveDialog()"
    ></app-custom-button>
    <app-custom-button
      [icon]="'playlist_add'"
      [text]="'Add'"
      [customClass]="'secondary'"
      [sidenavExpanded]="true"
      (clickEvent)="openAddDialog()"
    ></app-custom-button>
  </ng-template>
</mat-menu>
