.track {
  border-top: 1px solid var(--dark-grey-color);
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  &:hover {
    background: var(--dark-grey-color);
    .hover-actions {
      display: block;
    }
    .not-hover-actions {
      display: none;
    }
  }
  &:last-child {
    border-bottom: 1px solid var(--dark-grey-color);
  }
  .hover-actions {
    display: none;
  }
  .not-hover-actions {
    display: block;
    app-soundwave {
      display: flex;
      justify-content: center;
      width: 36px;
    }
    span {
      display: block;
      width: 36px;
      text-align: center;
    }
  }
  .track-number {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: var(--light-grey-color);
    width: 12px;
  }
  .track-title {
    width: 45%;
    margin-left: 30px;
    color: var(--white-color);
  }
  .featured .title:after {
    content: "-";
    margin: 0 5px;
  }
  .featured .feature {
    color: var(--light-grey-color);
  }
  .featured .feature:after {
    content: ",";
    margin-right: 5px;
  }
  .featured .feature:last-child:after {
    content: "";
    margin-right: 0;
  }
  .featured .feature:hover {
    cursor: pointer;
    color: var(--light-grey-color);
    text-decoration: underline;
  }
  .track-length {
    margin-left: auto;
    color: var(--light-grey-color);
  }
}
@media (max-width: 1200px) {
  .track-title {
    width: auto !important;
  }
}
