<div
  resizeObserver
  (resize)="onResize($event)"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  *ngIf="track"
  class="track c-pointer"
>
  <app-track-number
    [state]="state"
    [trackIndex]="trackIndex"
    [files]="files"
    [track]="track"
    [playingTrack]="playingTrack"
    [isHovered]="isHovered"
  ></app-track-number>
  <img [src]="track.img" />
  <div class="track-title featured">
    <span class="title">{{ track.name }}</span>
    <ng-container *ngFor="let artist of track.artists">
      <span class="feature">{{ artist.name }}</span>
    </ng-container>
  </div>
  <app-like-button
    [trackId]="track.id"
    [likedStatus]="track.likedStatus"
  ></app-like-button>
  <div class="track-length">{{ track.durationMs | date : "mm:ss" }}</div>
</div>
