.like-container {
  height: 35px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.4);
    }
  }
}
