<div class="page">
  <div class="main-content">
    <mat-drawer-container class="mat-drawer-container" autosize>
      <mat-drawer
        #drawerSidenav
        [opened]="true"
        class="round-8"
        [style.width.px]="sidenavExpanded ? sidenavWidth : 100"
        mode="side"
      >
        <app-sidenav *ngIf="userProfile"
          [drawerSidenav]="drawerSidenav"
          [userId]="userProfile.id"
          class="h-100"
        ></app-sidenav>
      </mat-drawer>
      <mat-drawer-content class="round-8">
        <div scrollable class="router-outlet-area">
          <router-outlet></router-outlet>
        </div>
      </mat-drawer-content>
      <mat-drawer
        #drawerInfo
        [opened]="true"
        class="round-8 mat-drawer-left"
        style="width: 289px"
        mode="side"
        position="end"
      >
        <app-playing-info></app-playing-info>
      </mat-drawer>
    </mat-drawer-container>
  </div>
  <app-player
    *ngIf="files"
    [files]="files"
    [playlistId]="files.id"
  ></app-player>
</div>
