<div class="page">
  <div class="main-content">
    <mat-drawer-container class="mat-drawer-container" autosize>
      <mat-drawer
        #drawerSidenav
        [opened]="true"
        class="round-8"
        [style.width.px]="drawerService.sidenavExpanded() ? drawerService.sidenavWidth() : 81"
        mode="side"
      >
        <app-sidenav
          [drawerSidenav]="drawerSidenav"
          [sidenavExpanded]="drawerService.sidenavExpanded()"
          [myPlaylists]="cloudService.myPlaylists()"
          [userFirebaseData]="userFirebaseData"
          [folderUnassignedPlaylists]="folderUnassignedPlaylists"
          [myTracksTotal]="cloudService.myTracks().items.length"
          [movedToFolderStatus]="utilsService.movedToFolder()"
          class="h-100"
        ></app-sidenav>
      </mat-drawer>
      <mat-drawer-content class="round-8">
        <div scrollable #scrollContainer class="router-outlet-area">
          <router-outlet></router-outlet>
        </div>
      </mat-drawer-content>
      <mat-drawer
        #drawerInfo
        [opened]="drawerService.isDrawerInfoOpened()"
        class="round-8 mat-drawer-left"
        mode="side"
        position="end"
        class="info-drawer"
      >
        <app-playing-info
          [playingTrack]="audioService.currentPlayingTrack()"
          [playlist]="playlist"
          [artists]="artists"
        ></app-playing-info>
      </mat-drawer>
    </mat-drawer-container>
  </div>
  <app-player
    *ngIf="cloudService.files().id.length > 0"
    [files]="cloudService.files()"
    [playlistId]="cloudService.files().id"
    [drawerEndStatus]="drawerService.isDrawerInfoOpened()"
    [playingTrack]="audioService.currentPlayingTrack()"
    [repeatMode]="audioService.repeatMode()"
    [isShuffled]="audioService.isShuffled()"
    [state]="audioService.state()"
    [isFullScreen]="layoutService.isFullScreen()"
  ></app-player>
</div>
