.content {
  display: flex;
  flex-flow: row wrap;
}
.content-left {
  width: 15%;
}
.content-middle {
  width: 70%;
}
@media (max-width: 1400px) {
  .content-left {
    width: 20%;
  }
  .content-middle {
    width: 80%;
  }
}
