.page {
  min-width: 800px;
  padding: 8px;
  .mat-drawer-container {
    background-color: transparent;
  }
  .router-outlet-area {
    height: 100%;
    background-color: var(--dark-grey-color);
  }
  .mat-drawer-side {
    background-color: transparent;
  }
  app-sidenav {
    display: block;
  }
  .mat-drawer-left {
    display: flex;
    justify-content: end;
  }
}

.info-drawer {
  width: 289px;
}