<div class="page">
  <div class="main-content">
    <mat-drawer-container class="mat-drawer-container" autosize>
      <mat-drawer
        #drawerSidenav
        [opened]="true"
        class="round-8"
        [style.width.px]="sidenavExpanded ? sidenavWidth : 81"
        mode="side"
      >
        <app-sidenav
          [drawerSidenav]="drawerSidenav"
          [sidenavExpanded]="sidenavExpanded"
          [movedToFolderStatus]="movedToFolder"
          class="h-100"
        ></app-sidenav>
      </mat-drawer>
      <mat-drawer-content class="round-8">
        <div scrollable #scrollContainer class="router-outlet-area">
          <router-outlet></router-outlet>
        </div>
      </mat-drawer-content>
      <mat-drawer
        #drawerInfo
        [opened]="isDrawerInfoOpened"
        class="round-8 mat-drawer-left"
        mode="side"
        position="end"
        class="info-drawer"
      >
        <app-playing-info></app-playing-info>
      </mat-drawer>
    </mat-drawer-container>
  </div>
  <app-player
    *ngIf="playingTrack"
    [playlistId]="playingTrack.playlistId || ''"
    [drawerEndStatus]="isDrawerInfoOpened"
    [state]="state"
    [isFullScreen]="isFullScreen"
  ></app-player>
</div>
