.page {
  padding: 8px;
  .mat-drawer-container {
    background-color: transparent;
  }
  .router-outlet-area {
    background-color: var(--dark-grey-color);
  }
  .mat-drawer-side {
    background-color: transparent;
  }
  app-sidenav {
    display: block;
  }
}
