.playing-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 64px;
  .n-h-right {
    display: flex;
  }
  .title {
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-weight: 700;
  }
}
