<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  class="hover-effect-on-icons"
>
  <span class="material-symbols-outlined"> more_vert </span>
</button>
<mat-menu #menu="matMenu">
  <app-custom-button
    [icon]="'person'"
    [text]="'Profile'"
    [customClass]="'secondary'"
    style="display: block; width: 202px"
    [sidenavExpanded]="true"
    (clickEvent)="toProfile()"
  ></app-custom-button>
  <app-custom-button
    [icon]="'settings'"
    [text]="'Settings'"
    [customClass]="'secondary'"
    style="display: block; width: 202px"
    [sidenavExpanded]="true"
    (clickEvent)="toSettings()"
  ></app-custom-button>
  <mat-divider></mat-divider>
  <app-custom-button
    [icon]="'logout'"
    [text]="'Log Out'"
    [customClass]="'secondary'"
    style="display: block; width: 202px"
    [sidenavExpanded]="true"
    (clickEvent)="logout()"
  ></app-custom-button>
</mat-menu>
