<div
  class="current-track"
  [ngClass]="{ fullscreen: isFullScreen }"
  [style.background-color]="!isFullScreen ? '#000' : ''"
  *ngIf="playingTrack.id.length > 0"
>
  <div class="song-bar">
    <div class="song-infos">
      <div class="image-container">
        <img src="{{ getImageUrl }}" alt="" />
      </div>
      <div class="song-description">
        <span
          class="title m-3 overflow-ellipsis hover-effect-underline c-pointer"
          >{{ getName }}</span
        >
        <span
          class="artist m-3 overflow-ellipsis hover-effect-underline c-pointer"
        >
          <ng-container *ngFor="let artist of getArtists; let last = last">
            {{ artist.name }}
            <ng-container *ngIf="!last">,</ng-container>
          </ng-container>
        </span>
      </div>
    </div>
    <app-like-button
      [trackId]="playingTrack.id"
      [likedStatus]="getLikedStatus"
    ></app-like-button>
  </div>
  <div class="progress-controller">
    <div class="control-buttons">
      <button
        mat-icon-button
        class="hover-effect-on-icons"
        (click)="toggleShuffle()"
      >
        <span 
         [ngStyle]="isShuffled ? { color: '#1db954' } : null"
         class="material-symbols-outlined"> shuffle </span>
      </button>
      <button
        mat-icon-button
        class="hover-effect-on-icons"
        [disabled]="isFirstPlaying"
        (click)="previous()"
      >
        <span class="material-symbols-outlined"> skip_previous </span>
      </button>
      <button
        class="btn-non-style"
        *ngIf="state"
        [disabled]="state.error"
        (click)="togglePlayPause($event)"
      >
        <ng-container *ngIf="state.playing; else playIcon">
          <span
            class="material-symbols-outlined play-circle c-pointer"
            style="font-size: 24px"
          >
            pause
          </span></ng-container
        >
        <ng-template #playIcon>
          <span
            class="material-symbols-outlined play-circle c-pointer"
            style="font-size: 24px"
          >
            play_arrow
          </span></ng-template
        >
      </button>
      <button
        mat-icon-button
        class="hover-effect-on-icons"
        [disabled]="isLastPlaying || isPlaylistEmpty"
        (click)="next()"
      >
        <span class="material-symbols-outlined"> skip_next </span>
      </button>
      <button mat-icon-button class="hover-effect-on-icons" (click)="toggleRepeat()">
        <span 
        class="material-symbols-outlined"
        [ngStyle]="{ color: repeatMode !== 0 ? '#1db954' : '' }"
        >
        {{ repeatMode === 2 ? 'repeat_one_on' : (repeatMode === 1 ? 'repeat_on' : 'repeat') }}
        </span>
      </button>
    </div>
    <div class="progress-container">
      <span>{{ state.readableCurrentTime }}</span>
      <mat-slider
        class="progress-bar"
        [disabled]="state.error"
        [max]="state.duration"
        [min]="0"
        [step]="0.001"
      >
        <input
          matSliderThumb
          (input)="onSliderChangeEnd()"
          [(ngModel)]="state.currentTime"
          #slider
        />
      </mat-slider>
      <span>{{ state.readableDuration }}</span>
    </div>
  </div>
  <div class="other-features">
    <!-- <button mat-icon-button class="hover-effect-on-icons">
      <span class="material-symbols-outlined"> list </span>
    </button> -->
    <button
      mat-icon-button
      class="hover-effect-on-icons"
      style="position: relative"
      (click)="toggleDrawerEnd()"
    >
      <span
        class="material-symbols-outlined"
        [ngStyle]="drawerEndStatus ? { color: '#1db954' } : null"
      >
        slideshow
      </span>
      <div *ngIf="drawerEndStatus" class="dot"></div>
    </button>
    <app-volume></app-volume>
    <app-btn-full-screen [elem]="elem"></app-btn-full-screen>
  </div>
</div>
<div
  class="overlay"
  *ngIf="isFullScreen"
  [style.background-image]="isFullScreen ? 'url(' + getImageUrl + ')' : ''"
></div>
<div class="shadow" *ngIf="isFullScreen"></div>
