html,
body {
  background-color: #181818;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}
.disabled {
  color: #5e5e5e !important;
}
.hover-effect-on-icons {
  &:hover {
    color: white;
  }
}
.mr-5 {
  margin-right: 5px;
}
.mt-10 {
  margin-top: 10px;
}
/* user-menu styles */
.cdk-overlay-container {
  .cdk-overlay-connected-position-bounding-box {
    top: 75px !important;
    .mat-mdc-menu-panel {
      background-color: #282828 !important;
      .mat-mdc-menu-content {
        padding: 0 !important;
        .mat-mdc-menu-item {
          padding: 0 32px !important;
          &:hover {
            background-color: #aaaaaa !important;
            .mat-mdc-menu-item-text {
              color: #181818 !important;
            }
          }
          .mat-mdc-menu-item-text {
            color: #aaaaaa !important;
          }
        }
        .mat-divider {
          margin: 0 16px !important;
          border-top-color: #aaaaaa !important;
        }
      }
    }
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #373737;
}
/* Start of sidenav menu styles */
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
}
.mat-expansion-panel,
.mat-expansion-panel-content,
.mat-expansion-panel-header {
  background-color: #282828 !important;
}
.mat-expansion-panel-header.mat-expanded {
  height: 30px !important;
}
.mat-expansion-panel-header-title,
.mdc-list-item__primary-text {
  color: #aaaaaa !important;
  &:hover {
    color: white !important;
    cursor: pointer !important;
  }
}
/* End of sidenav menu styles */
.scroll-y {
  overflow-y: scroll;
}
.mat-mdc-icon-button:hover .mat-mdc-button-persistent-ripple::before {
  opacity: 1 !important;
  background-color: transparent !important;
}
.c-pointer {
  cursor: pointer;
}
.btn-non-style {
  background-color: transparent;
  border: none;
}