<button
  mat-button
  (contextmenu)="onContextMenu($event)"
  (click)="navigateToPlaylist()"
  [ngStyle]="sidenavExpanded ? btnExpandedStyles : btnCollapsedStyles"
>
  <ng-container
    *ngIf="playlist.images && playlist.images.length > 0; else noImage"
  >
    <img [src]="playlist.images[0].url" />
  </ng-container>
  <ng-template #noImage>
    <div class="div-no-img">
      <span class="material-symbols-outlined"> audio_file </span>
    </div>
  </ng-template>
  <div *ngIf="sidenavExpanded" class="text">
    <span>
      {{
        sidenavWidth === 631
          ? playlist.name
          : utilsService.truncateText(playlist.name, 22)
      }}</span
    >
    <span
      >Playlist <span class="material-symbols-outlined"> adjust </span>
      {{ playlist.tracks.total }} songs</span
    >
  </div>
</button>
<div
  style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu"
></div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <app-custom-button
      [icon]="'playlist_remove'"
      [text]="'Delete'"
      [customClass]="'secondary'"
      [sidenavExpanded]="true"
      (clickEvent)="openDialog()"
    ></app-custom-button>
  </ng-template>
</mat-menu>
