<div
  *ngIf="data"
  class="header"
  [ngStyle]="{
    'background-image':
      'linear-gradient(to bottom, ' +
      (data.color ? data.color : '#545454') +
      ', var(--black-color))'
  }"
>
  <div
    id="top-container"
    [ngStyle]="{
      'background-image':
        'linear-gradient(to bottom, ' +
        (data.color ? data.color : '#545454') +
        ', var(--black-color))'
    }"
  >
    <div class="profile-img">
      <ng-content select=[small-play-btn]></ng-content>
      <ng-container *ngIf="data.imageUrl; else noImage">
        <img src="{{ data.imageUrl }}" />
      </ng-container>
      <ng-template #noImage>
        <div class="div-no-img">
          <span class="material-symbols-outlined"> audio_file </span>
        </div>
      </ng-template>
    </div>
    <p class="info-name">{{ data.name }}</p>
  </div>

  <div class="info">
    <div class="profile-img">
      <ng-container *ngIf="data.imageUrl; else noImage">
        <img src="{{ data.imageUrl }}" />
      </ng-container>
      <ng-template #noImage>
        <div class="div-no-img">
          <span class="material-symbols-outlined"> audio_file </span>
        </div>
      </ng-template>
    </div>

    <div class="info-meta">
      <div class="info-type">{{ data.type }}</div>
      <div class="info-name">{{ data.name }}</div>
      <div class="info-description">{{ data.description }}</div>

      <ng-content select=[info-actions]></ng-content>
    </div>
  </div>
</div>
