<div *ngIf="data" class="header" [ngStyle]="{ 'background-image': 'linear-gradient(to bottom, ' + data.color + ', var(--black-color))' }">
  <div class="info">
    <div class="profile-img">
      <img src="{{ data.imageUrl }}" />
    </div>

    <div class="info-meta">
      <div class="info-type">{{ data.type }}</div>
      <div class="info-name">{{ data.name }}</div>
      <div class="info-description">{{ data.description }}</div>

      <div class="info-actions">
        <app-btn-play class="mr-10" [playListId]="data.id"></app-btn-play>
        <button class="button-light c-pointer">Follow</button>
        <button mat-icon-button class="hover-effect-on-icons btn-non-style">
          <span class="material-symbols-outlined"> more_vert </span>
        </button>
      </div>
    </div>
  </div>

  <div class="followers">
    <div class="followers-count">{{ data.followers }}</div>
    <div class="followers-label">Followers</div>
  </div>
</div>
